<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nessaj.quant.scada.auth.mapper.UserMapper">
    <select id="findByUsername" resultType="com.nessaj.quant.scada.auth.entity.User">
        SELECT id, username, password, nickname, email, phone, created_at, updated_at
        FROM user
        WHERE username = #{username}
    </select>

    <select id="findById" resultType="com.nessaj.quant.scada.auth.entity.User">
        SELECT id, username, password, nickname, email, phone, created_at, updated_at
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.nessaj.quant.scada.auth.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, email, phone, created_at)
        VALUES (#{username}, #{password}, #{nickname}, #{email}, #{phone}, #{createdAt})
    </insert>
</mapper>
